.wizard {
  height: calc(100vh - 75px);
  margin-top: 75px;
  font-family: "Open Sans", sans-serif;
  background-color: #afd4c0;
  display: flex;
  flex-direction: column;

  align-items: center;
}

h1 {
  font-weight: 400;
  font-size: 40px;
  color: #3b5349;
}

.wizardHeader {
  display: flex;
  width: 50%;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.wizardBody {
  display: flex;
  height: 100%;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #e5f4ec;
}

.cancelLink {
  margin: 20px 0 20px 20px;
}
.cancelButton {
  width: 100px;
  height: 45px;
  font-size: 20px;
  font-weight: 750;
  border: none;
  color: black;
  background-color: #fec2c2;
}

input {
  width: 75%;
  font-size: 20px;
}

.stateZip {
  display: flex;
  justify-content: space-between;
}

#state {
  width: 10%;
}

#zip {
  width: 30%;
}

.wizardButtons {
  width: 150px;
  height: 30px;
  margin: 50px;
  font-size: 18px;
  font-weight: 750;
  border: none;
  color: black;
  background-color: #8aea92;
}
